PORT=8000
MONGO_URI=mongodb+srv://@cluster0.fshcjhd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=ryzni777
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=your_gemini_key_here
NVIDIA_API_KEY=your_nvidia_key_here
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liMtnw5vGfZthPqg
GITHUB_CLIENT_SECRET=4e1c6ea21a15252f41fe9fbef07dc4e8bc0d7197
GITHUB_CALLBACK_URL=http://localhost:8000/api/auth/github/callback
GITHUB_STATE_SECRET=ryzeni77777777777777777777777

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ezymail0001@gmail.com
SMTP_PASS=lfdw ipec avyv ipom

REDIS_URL=redis://localhost:6379
