PORT=8000
MONGO_URI=mongodb+srv://@cluster0.fshcjhd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=you-secret
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=your gemin key
CLIENT_URL=http://localhost:5173
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your email
SMTP_PASS=your pass

REDIS_URL=redis://localhost:6379